[submodule "resources/fonts/Montserrat"]
	path = resources/fonts/Montserrat
	url = https://github.com/JulietaUla/Montserrat.git
[submodule "resources/fonts/JetBrainsMono"]
	path = resources/fonts/JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono.git
[submodule "resources/database/can/CAN-database"]
	path = resources/database/can/CAN-database
	url = git@github.com:Hentai-Racing/CAN-database.git
